.App {
  text-align: center;
  padding-left: 50px ;
  padding-top: 30px;
  width: 40%;
}

form {
  display: flex;

}
button {
  margin-left: 5px;
  height: 100%;
}
form div {
  margin-left: 5px;
}
li {
  text-align: left;
}
